/* Monocromática:
#FFA500 (RGB(255, 165, 0))
#FFE5B2 (RGB(255, 229, 178))
#FFCE7F (RGB(255, 206, 127))
#FFB64C (RGB(255, 182, 76))
#FF9D19 (RGB(255, 157, 25))


Complementar:
#FFA500 (RGB(255, 165, 0))
#00A5FF (RGB(0, 165, 255))
#FF8B00 (RGB(255, 139, 0))
#0078FF (RGB(0, 120, 255))
#FF7200 (RGB(255, 114, 0))


Análoga:
#FFA500 (RGB(255, 165, 0))
#FFB319 (RGB(255, 179, 25))
#FFC732 (RGB(255, 199, 50))
#FFD94B (RGB(255, 217, 75))
#FFEB64 (RGB(255, 235, 100))
#363636
 */

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.login__section-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
  width: 50%;
  color: var(--fcolor);
}

.login__form {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.login__form-label {
  display: flex;
  align-items: center;
}

.login__input {
  margin-left: 10px;
}

#login__section {
  background-color: var(--lColor);
}

